#solution{
    background-color: var(--color-primary);
    color: var(--color-bg);
    margin-top: 10px;
    padding-bottom: 30px;
}
#solution h2{
    color: white;
}
.solution__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;
    margin-top: 0;
}
.solution__container>div{
    background:var(--color-bg-variant);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.solution__container>div:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.solution__container > div h3{
    text-align: center;
    margin-bottom: .5rem;
    color: var(--color-bg);

}

.solution__content{
    margin-top: 1rem;
    color: black;
}


@media only screen and (max-width: 1024px) {    
    .solution__container{
        grid-template-columns: 1fr;
    }
    
    .solution__details > div{
        width: 88%;
        padding:1rem;
        margin: 0 auto;
    }

    .solution__content{
        padding: 1rem;
    }
}

@media only screen and (max-width: 600px) {    
.about__container{
    grid-template-columns: 1fr;
    gap: 0;
}

.about__me{
    width: 65%;
    margin: 0 auto 3rem;
}

.about__cards{
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.about__me__content{
    text-align: center;
}

.about__me__content p{
    margin: 1.5rem 0;
    }
.solution__container > div{
    width: 100%;
    padding:2rem 1rem

}
} 